.tabs {
    .tab-header-wrap {
        display: flex;
        padding: 0 1px;
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        &:nth-child(n+3){
            display: flex;
            flex-wrap: wrap;
            position: relative;
            overflow: hidden;
            height: 400px;
            width: 100%;
            padding: 0;
            margin-top: 20px;

            div{
                z-index: 1000;
                width: 50%;
                height: 50%;
            }            
            
            img{                
                position: absolute;
                cursor: pointer;
            }
        }

        &:nth-child(4){
            img{
                transition: all 1s;
            }
        }

        &:not(.active) {
            display: none;
        }
    }

    @media (max-width: $tablet-min) {
        position: relative;

        .tab-content-wrap{
            margin-top: 20px;
        }

        .tab-content{
            &:nth-child(n+3){
                margin-top: 0;
            }
        }

        .tab-header{
            width: 100%;
            text-align: center;

            &.active {
                box-shadow: 0 0 0 1px $c-border;
            }
        }

        .tab-header-wrap {
            border: 1px solid $c-border;
            width: 100%;
            z-index: 1001;
            background-color: $c-bg-gray;
            position: absolute;            
            overflow: hidden;
            flex-direction: column;
            transition: 0.7s;
            height: 0;
        }

        .dropdown-header{
            display: flex;
        }
    }    
}

.dropdown-header{
        display: none;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        padding: 10px;
        border: 0.5px solid $c-border;

        .arrow{
            &_dropped{
                transform: rotate(180deg);
            }
        }
    }
